
@{
    ViewBag.Title = "QuanLyTaiKhoan";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end flex-wrap">
                        <div class="mr-md-3 mr-xl-5">
                            <h2>Xin chào, Admin</h2>
                            <div class="d-flex">
                                <i class="mdi mdi-home text-muted hover-cursor"></i>
                                <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Quản lý tài khoản&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh sách tài khoản</h4>
                    <a class="nav-link " href="@Url.Action("ThemTaiKhoan","Home")">
                        <span class="menu-title btn btn-primary">Thêm tài khoản</span>
                    </a>
                    <div class="table-responsive pt-3">
                        <table id="recent-purchases-listing" class="table text-center">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Mã tài khoản
                                    </th>
                                    <th>
                                        Tên khác hàng
                                    </th>
                                    <th>
                                        Phân quyền
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Địa chỉ
                                    </th>
                                    <th>
                                        Số điện thoại
                                    </th>
                                    <th>
                                        Trạng thái
                                    </th>
                                    <th>
                                        Hành động
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        20252025
                                    </td>
                                    <td>
                                        Khách hàng 1
                                    </td>
                                    <td>
                                        Quyền 1
                                    </td>
                                    <td>
                                        khachhang1@gmail.com
                                    </td>
                                    <td>
                                        Hà Nội
                                    </td>
                                    <td>
                                        0123456789
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success pl-3 pr-3 pt-2 pb-2">
                                            Hoạt động
                                        </button>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <a class="nav-link " href="@Url.Action("CapNhatTaiKhoan","Home")">
                                                <span class="menu-title btn btn-inverse-warning btn-fw pl-3 pr-3 pt-2 pb-2">Cập nhật</span>
                                            </a>

                                            <a class="nav-link ">
                                                <span class="menu-title btn btn-inverse-danger btn-fw pl-3 pr-3 pt-2 pb-2">Xóa</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        20252026
                                    </td>
                                    <td>
                                        Khách hàng 2
                                    </td>
                                    <td>
                                        Quyền 2
                                    </td>
                                    <td>
                                        khachhang1@gmail.com
                                    </td>
                                    <td>
                                        Hà Nội
                                    </td>
                                    <td>
                                        0123456789
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-dark pl-3 pr-3 pt-2 pb-2">
                                            Khóa
                                        </button>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <a class="nav-link " href="@Url.Action("CapNhatTaiKhoan","Home")">
                                                <span class="menu-title btn btn-inverse-warning btn-fw pl-3 pr-3 pt-2 pb-2">Cập nhật</span>
                                            </a>

                                            <a class="nav-link ">
                                                <span class="menu-title btn btn-inverse-danger btn-fw pl-3 pr-3 pt-2 pb-2">Xóa</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

